extends layout

block content
  .container-fluid 
      .row.justify-content-center
        .col-md-12.text-center#head
            h1.header Hi, I'm Debasis I design and Build 
            p#change
            a(href="#last")
             button.btn.btn-warning.mt-5.main Yes, I'm available for hire 
            h6 learn more about what i do
            a(href="#myskill") #[i.fas.fa-angle-down]
  .container
      .row.justify-content-center.pb-5.mb-5.scroll-animations
        .container.text-center.pt-5.mt-5.pb-5
            h1#myskill MyExperties
            p I build both front-end and backend.
        .col-md-4.column.animated
            div
                i.fas.fa-sticky-note.icons
                h1 Strategy
                p.para
                 |I would like to collaborate with clients and
                 |peers to nurture and transform ideas into well thought out design specs. 
                 |After all, that's where the majority of amazing user experiences start.
        .col-md-4.column.animated
            div
                i.fas.fa-magic.icons
                h1 Design
                p.para
                 |I  wireframe interfaces focusing on content structure, 
                 |intuitive UI patterns and simple interactions.
                 |I'm a minimalist who truly believes that less is more.
                
        .col-md-4.column.animated
            div
                i.fas.fa-code.icons
                h1 Code
                p.para
                 |I design in the browser with HTML(5), CSS(3) and  JavaScript/Jquery. 
                 |I build the backend with Node, Express , MongoDB
                 |I love coding things from scratch,
                 |but I can work with front-end frameworks like Bootstrap and sematic ui too.
   .container-fluid.section
        .row.justify-content-around.text-center.pb-5.scroll-animations2
          .container.pt-5
            h1 MyWork
            p Want to see more examples? 
              a(href="mailto:debasisnath84@gmail.com") Email me.
          div.col-md-4.animated
                h5 selectrestaurant.herokuapp.com
                p #[i.fas.fa-desktop.icons] #[span] Full-stack development
                p.para
                 | This is one of my personal projects made with Node.js
                 | With crud ability and features like user authentication
                 | Image upload, Google map Api, Re-captcha and Nodemailer
                 | This project is fully developed and designed by me.
                a(href="http://selectrestaurant.herokuapp.com")
                    button.btn.btn-lg.btn-outline-secondary Visit the site.
          div.col-md-4.animated
             .card
                 img.card-img-top(src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?auto=compress&cs=tinysrgb&h=350" alt="select restaurant")
                 div.card-body
                    p.card-text.text-primary SelectRestaurant
   .container-fluid
        .row.justify-content-around.text-center.pt-5.pb-5.scroll-animations3
          .container.pt-5.pb-5
            h1 Personal Projects
            p Currently Im building things of my own. 
          div.col-md-3.column.animated
             .card.project-section1
                 a(href="https://github.com/devoficial/calcandtodo")
                  img.card-img-top.project-section(src="https://images.pexels.com/photos/433636/pexels-photo-433636.jpeg?auto=compress&cs=tinysrgb&h=350" alt="calcandtodo")
                 div.card-body
                    h5.card-title Calculator and Todo
                    p.card-text
                     | HTML5 Css3 and JQuery.
          div.col-md-3.column.animated
             .card.project-section1
                 a(href="https://github.com/devoficial/whazapp")
                  img.card-img-top.project-section(src="https://images.pexels.com/photos/433617/pexels-photo-433617.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Whazapp")
                 div.card-body
                    h5.card-title Whazapp
                    p.card-text
                     | A chat app made with flask.
          div.col-md-3.column.animated
             .card.project-section1
                 a(href="https://github.com/devoficial/BlogTheCode")
                  img.card-img-top.project-section(src="https://images.pexels.com/photos/459688/pexels-photo-459688.jpeg?auto=compress&cs=tinysrgb&h=350" alt="BlogTheCode")
                 div.card-body
                    h5.card-title BlogApp
                    p.card-text
                    | Made with Node.js and Express.
          div.col-md-3.column.animated
             .card.project-section1
                 a(href="https://github.com/devoficial/protfoliostarterfiles")
                  img.card-img-top.project-section(src="https://images.pexels.com/photos/955448/pexels-photo-955448.jpeg?auto=compress&cs=tinysrgb&h=350" alt="portfolio")
                 div.card-body
                    h5.card-title portfolio
                    p.card-text
                    | HTML5 Css3 and jQuery.
   .container-fluid#last1
        .row.justify-content-around.text-center.pb-5.scroll-animations2
          .container#last.p-5
            h1 Want to Work Together ?
            h5 
             | I'm currently accepting new projects and looking for a job
             | I would love to hear about your project.
             | Please contact me here.
            a.btn.btn-outline-secondary(href="#normalModal" data-toggle="modal") Contact me
   .container-fluid#last2
        .row.justify-content-around.text-center.pb-5.scroll-animations2
          .container#last.p-5
            h5 Debasis Nath || full-stack Node.js Developer
            p Designed and coded by me &copy; 2018
            a(href="https://github.com/devoficial")
                span &nbsp;&nbsp;&nbsp;
                |    
                i.fab.fa-github
            a(href="https://www.linkedin.com/in/i-m-dev21/")
                span &nbsp;&nbsp;&nbsp;
                |    
                i.fab.fa-linkedin-in
            a(href="https://twitter.com/debasisnath14")
                span &nbsp;&nbsp;&nbsp;
                |    
                i.fab.fa-twitter
            a(href="#")
                span &nbsp;&nbsp;&nbsp;
                |    
                i.fab.fa-facebook-f